.aw-filemanager .attach ul.file {
	/* float: left; /**/
}
.aw-filemanager .attach ul.file li {
	float: left;
}
.aw-filemanager .attach ul.file a.src {
	font-size: 1.1em;
	text-decoration: none;
}
.aw-filemanager .attach .fremove {
	margin: 4px 25px 0 3px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	background: url('/modules/filemanager/images/removemin.gif') left top no-repeat;
} 

.aw-filemanager .attachview div.file {
	margin-bottom: 5px;
}
